.app {
  max-width: 1200px;
  margin: 0 auto;
  padding: 40px;
}

.header {
  margin-bottom: 20px;
}

body {
  background-color: red;
  color: #232426;
  font-size: 1rem;
  line-height: 1.5;
  transition: all .3s
}

h1 {
  color: #001b66;;
  font-size: 3rem;
  font-weight: 400;
  line-height: 1.14
}

.title {
  font-size: 24px;
  color: #333;
}

.content {
  display: flex;
  gap: 20px;
}

.backButton {
  margin-bottom: 20px;
  padding: 10px 15px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

@media (max-width: 1024px) {
  h1 {
    font-size: 2.6rem;
  }
  .app {
    padding: 30px;
  }
}

@media (max-width: 768px) {
  h1 {
    font-size: 2rem;
  }
  .content {
    flex-direction: column;
  }
  .app {
    padding: 20px;
  }

  .header {
    display: flex;
    justify-content: flex-start;
  }
}


@tailwind base;
@tailwind components;
@tailwind utilities;
